version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: eduhub_postgres
    restart: always
    ports:
      - "5435:5432"
    environment:
      POSTGRES_DB: eduhubvn
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ccvi@123
    volumes:
      - pgdata:/var/lib/postgresql/data

  eduhub_backend:
    image: foxfessor/eduhubvn-backend:1.0
    container_name: eduhub_backend
    restart: always
    depends_on:
      - postgres
    ports:
      - "8888:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/eduhubvn
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: ccvi@123
      # SPRING_JPA_HIBERNATE_DDL_AUTO: validate
      SPRING_JPA_HIBERNATE_DDL_AUTO: create-drop
      # SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.PostgreSQLDialect
      SPRING_FLYWAY_ENABLED: "false"
      # SPRING_FLYWAY_ENABLED: "true"
      SPRING_FLYWAY_BASELINE_ON_MIGRATE: "true"
      SPRING_FLYWAY_LOCATIONS: classpath:db/migration
      APPLICATION_SECURITY_JWT_SECRET: 254d762d256a3b3f712c3c345c372c5e535a414c2c555e6f315b793c50
      APPLICATION_SECURITY_JWT_EXPIRED_ACCESS: 10000000
      APPLICATION_SECURITY_JWT_EXPIRED_REFRESH: 2592000000000
      # SPRING_PROFILES_ACTIVE: prod
      SPRING_PROFILES_ACTIVE: dev
    volumes:
      - ./application-secret.yml:/app/application-secret.yml:ro

  eduhub_portal:
    image: foxfessor/eduhubvn-portal:1.0
    container_name: eduhub_portal
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - eduhub_backend

  eduhub_web:
    image: foxfessor/eduhubvn-web:1.0
    container_name: eduhub_web
    restart: always
    ports:
      - "3001:3000"
    depends_on:
      - eduhub_backend

volumes:
  pgdata:


